body {
  background-color: #3498db;
}

h1, h3 {
  text-align: center;
}

h1, h2, h3 {
  color: white;
}

button { 
  margin: 10px 0;
}

output {
  display: inline;
}

.row {
  padding: 20px;  
}

#answer {
   padding: 20px;  
}
