body {
	padding: 10px;
	margin-left: 200px;

}

.row {
  margin: 100px auto;  

}

#inputFOrC {
		display: inline-block;

	margin-left: 50px;
	margin: 100px auto;
	padding: 50px auto;
	width: 50%;
	text-align: center;
}

button {
	  position: center;
	margin-left: 200px;

}
