.row {
  padding: 20px;  
}
body {
	background-image: url(../images/maui.jpg);
	background-size: cover;
	font-family: Georgia;
	font-size: 25px;
	font-style: italic;
}
.box {
margin: 100px 300px 0 500px;
}
h1 {
	color: white;
	margin-bottom: 60px;
}
input[type="button"] {
	padding: 20px;
	width: 150px; 
	background-color: #71FDE0;
	color: white;
	border-radius: 20px;
}
input[type="text"] {
	padding: 20px;
	border-radius: 20px;
}

p {
	color: white;
	padding-top: 20px;
	font-size: 65px;
}
